<template name="layout">
<h1 class="text-center" style="font:64pt bold Helvetica">Quiz 2</h1>
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="{{pathFor 'home'}}">home</a></li>
        <li role="presentation"><a href="{{pathFor 'profiles'}}">profiles</a></li>
        <li role="presentation"><a href="{{pathFor 'myprofile'}}">myprofile</a></li>
        <li role="presentation"> {{> loginButtons}} </li>
      </ul>
    </div>
    <div class="col-md-10">
      {{> yield}}
    </div>
  </div>
</template>
